footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background: #2e2e2e;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    opacity: 0;
    transition: 0.25s;
}

footer:hover {
    opacity: 1;
}

footer img {
    height: 50%;
    transition: 0.25s;
}

footer img:hover {
    scale: 1.5;
}